@use '@angular/material' as mat;
@use 'colors' as colors;
@use 'sass:map';

:host {
  @include mat.toolbar-overrides(
    (
      container-background-color: map.get(colors.$palettes, primary, 25),
      container-text-color: map.get(colors.$palettes, primary, 99),
    )
  );
  @include mat.icon-overrides(
    (
      color: map.get(colors.$palettes, primary, 99),
    )
  );
}
