@use 'sass:map';
@use '@angular/material' as mat;

$palettes: (
  primary: (
    0: #000000,
    10: #40000b,
    20: #680018,
    25: #7c001f,
    30: #8e0f28,
    35: #9f1e33,
    40: #af2b3e,
    50: #d14554,
    60: #f35e6c,
    70: #ff888f,
    80: #ffb3b5,
    90: #fffbff,
    95: #fffbff,
    98: #fffbff,
    99: #fffbff,
    100: #ffffff,
  ),
  secondary: (
    0: #000000,
    10: #301400,
    20: #502400,
    25: #5f2d00,
    30: #6e3600,
    35: #7d4000,
    40: #8c4a00,
    50: #ad6400,
    60: #ce7e00,
    70: #ef991f,
    80: #ffb870,
    90: #ffddb8,
    95: #ffeedf,
    98: #fff8f4,
    99: #fffbff,
    100: #ffffff,
  ),
  tertiary: (
    0: #000000,
    10: #00201b,
    20: #003730,
    25: #00443b,
    30: #005046,
    35: #005d52,
    40: #046b5e,
    50: #2f8476,
    60: #4d9e90,
    70: #68b9aa,
    80: #84d5c5,
    90: #a0f2e1,
    95: #b5ffef,
    98: #e5fff8,
    99: #f3fffa,
    100: #ffffff,
  ),
  neutral: (
    0: #000000,
    10: #1b1c1c,
    20: #303030,
    25: #3b3b3b,
    30: #464747,
    35: #525252,
    40: #5e5e5e,
    50: #777777,
    60: #919090,
    70: #acabab,
    80: #c7c6c6,
    90: #e4e2e2,
    95: #f2f0f0,
    98: #fbf9f8,
    99: #fefcfb,
    100: #ffffff,
    4: #0d0e0e,
    6: #131314,
    12: #1f2020,
    17: #292a2a,
    22: #343535,
    24: #393939,
    87: #dbdad9,
    92: #e9e8e7,
    94: #efeded,
    96: #f5f3f3,
  ),
  neutral-variant: (
    0: #000000,
    10: #181c21,
    20: #2d3136,
    25: #383c41,
    30: #43474d,
    35: #4f5359,
    40: #5b5f65,
    50: #73777e,
    60: #8d9197,
    70: #a8abb2,
    80: #c3c7cd,
    90: #dfe2ea,
    95: #eef1f8,
    98: #f8f9ff,
    99: #fcfcff,
    100: #ffffff,
  ),
  error: (
    0: #000000,
    10: #410002,
    20: #690004,
    25: #7e0007,
    30: #930009,
    35: #a8060f,
    40: #ba1a1a,
    50: #de372f,
    60: #ff5449,
    70: #ff897d,
    80: #ffb4ab,
    90: #ffdad5,
    95: #ffedea,
    98: #fff8f7,
    99: #fffbff,
    100: #ffffff,
  ),
);

$_rest: (
  secondary: map.get($palettes, secondary),
  neutral: map.get($palettes, neutral),
  neutral-variant: map.get($palettes, neutral-variant),
  error: map.get($palettes, error),
);

$primary-palette: map.merge(map.get($palettes, primary), $_rest);
$secondary-palette: map.merge(map.get($palettes, secondary), $_rest);
$tertiary-palette: map.merge(map.get($palettes, tertiary), $_rest);
$neutral-palette: map.merge(map.get($palettes, neutral), $_rest);
$neutral-variant-palette: map.merge(map.get($palettes, neutral-variant), $_rest);
$error-palette: map.merge(map.get($palettes, error), $_rest);
