@use '@angular/material' as mat;
@use 'colors' as colors;

html {
  @include mat.theme(
    (
      color: (
        primary: colors.$primary-palette,
        secondary: colors.$secondary-palette,
        tertiary: colors.$tertiary-palette,
        neutral: colors.$neutral-palette,
        neutral-variant: colors.$neutral-variant-palette,
        error: colors.$error-palette,
      ),
      typography: Roboto,
      density: 0,
    )
  );
}

body {
  color-scheme: light;

  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);

  margin: 0;
}
